@import url(../../vendor/GaliverSans.css);

.main {
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;

  background-color: rgb(20, 20, 20);

  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-family: "GaliverSans";
}

