.header {
    width: 90%;
    max-width: 800px;
    margin-top: 10px;
    background-color: #b9b9b9;
    padding: 10px 20px;
    border-radius: 25px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
    box-shadow: 0 0 0 1px rgba(0, 118, 148, 1);
    font-family: "GaliverSans";
}

.header__title {
    display: flex;
    font-size: clamp(1rem, 0.714rem + 1.429vw, 2rem);
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-family: "GaliverSans";
    
}

.header__dice_icon {
    fill: #919191;
    padding-left: 10px;
    width: 35px;
    height: auto;
}

.header_nav-link{
    padding-left: 10px;
}

@media screen {
    .header {

    }
}